/* <style> @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap'); </style>

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* general */

.list {
    list-style: none;
}
.link {
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight: 400;
    color: #434455;
}

.main {
}
/* header */

.header {
}
.navigation {
}

.logo_studio{
    color: #2E2F42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.nav_list{

}

.nav_link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav_link:hover, .nav_link:focus{
    color: #404BBF;
}

.address_list {
}

.address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address:hover, .address:focus{
    color: #404BBF;
}


/*------------------------------------------------------------ index ------------------------------------------------------------*/


.hero {
    background: #2E2F42;
}
.hero_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero_button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero_button:hover, .hero_button:focus{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Feauters */

.features {
}
.features_title {

}
.features_lists {
}
.feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.feature_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* What are we doing */

.wawd {
}
.wawd_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.wawd_lists {
}
.wawd_list {
}
.wawd_img {
}

/* Our team */

.our_team {
    background: #F4F4FD;
}
.our_team_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.our_team_lists {
}
.our_team_list {
}
.our_team_img {
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.direction {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

/* footer */

.footer {
    background: #2E2F42;
}
.footer_text {
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer_logo_studio{
    color: #F4F4FD;
}
/*-------------------------------------------------------------- Portfolio --------------------------------------------------------------*/

.portfolio {
}
.prtfolio-title {
}

/* Button */

.portfolio_button_lists {
}
.portfolio_button_list {
}
.portfolio_button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.portfolio_button:hover, .portfolio_button:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Portfolio list */

.portfolio_lists {
}
.portfolio_list {
}
.portfolio_img {
}
.portfolio_img_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;   
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}